<%- include("header") -%>
    <div class="box" id="heading">
      <h1><%= listTitle %></h1>
    </div>

    <div class="box">
      <% newListItems.forEach(function(item) { %>
        <div class="item">
          <input type="checkbox" />
          <p><%= item.name %></p>
        </div>
      <% }); %>

      <form class="item" action="/" method="POST">
        <input
          type="text"
          name="newItem"
          placeholder="New Item"
          autocomplete="off"
        />
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
<%- include("footer") -%>